<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<packages>
		<package id="Tesseract" version="4.1.1" targetFramework="net40" />
	</packages>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

			
				<section name="case_4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<system.diagnostics>
		<sources>
			<source name="Tesseract" switchValue="Verbose">
				<listeners>
					<clear />
					<add name="console" />
				-->
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="console" type="System.Diagnostics.ConsoleTraceListener" />

		</sharedListeners>
	</system.diagnostics>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>